{% extends 'base.html' %}
{% block txt %}
    <!--表单-->
    <form class="layui-form" action="">
          <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" required lay-verify="required" placeholder="请输入名称"
                       autocomplete="off" class="layui-input">
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">问题类型</label>
            <div class="layui-input-block">
                <select name="wenti" lay-verify="required">
                    <option value="">管理</option>
                    <option value="0">检索</option>
                    <option value="1">登录</option>
                    <option value="2">其他</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label" style="width: 100px">具体描述</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入你的问题：" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>


{% endblock %}